.category__item {
  padding: 5px 20px;
  cursor: pointer;
  z-index: 100;
}
.category__item:hover {
  transform: scale(1.04);
  color: darkorange;
  background-color: #eaeded;
  box-shadow: 0px 8px 5px -9px rgba(0, 0, 0, 0.75);
}
